<div class="container-fluid atlas-auth-page">
    <div class="row h-100">
        <AtlasHeader />
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-light">
            <EditForm EditContext="@editContext" class="card shadow-lg p-4" style="width: 350px;" OnValidSubmit="@HandleValidSubmit">
                <h3 class="text-center mb-4 text-primary">Bienvenido a AtlasLMS</h3>

                <AtlasTxtInput Label="Email"
                               PlaceHolder="unai@gmail.com"
                               Type="email"
                               @bind-Value="@User.Email" />

                <AtlasTxtInput Label="Contraseña"
                               PlaceHolder="************"
                               Type="password"
                               @bind-Value="@User.Password" />

                <div class="text-end mt-1">
                    <a href="#" class="text-decoration-none text-primary small">¿Olvidaste tu contraseña?</a>
                </div>

                <button class="btn btn-primary w-100">@ButtonCaption</button>
                <footer class="text-center mt-3 text-muted small">
                    © 2026 AtlasLMS - Software de Gestión de Librerías
                </footer>
            </EditForm>
        </div>
    </div>
</div>

@code {
    #region     Parameters--------------------------------------------
    [Parameter, EditorRequired] public LoginDto User { get; set; }
    [Parameter, EditorRequired] public string ButtonCaption { get; set; }
    [Parameter, EditorRequired] public EventCallback OnSubmit { get; set; }
    #endregion

    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(User);
    }

    private async Task HandleValidSubmit()
    {
        if (editContext != null && editContext.Validate())
            await OnSubmit.InvokeAsync();
    }
}
